.score {
    color: white
}

.score-btn {
    border: 2px #1db954 solid;
    color: black;
    background-color: white;
    width: 70%;
    border-radius: 5px;
    height: 100%;
    padding: 5px;
    margin-top: 0;
}

.nav-container {
    position: fixed;
    text-align: center;
    top: 40px;
    left: 40px;
}

.score-input-form {
    height: 5vh;
    width: 11vh;
    font-size: small;
    background-color: white;
    color: black;
}

.popup-container {
    justify-content: center;
    align-items: center;
    float: right;
}

.user-submit-btn {
    color: black;
}

.user-submit-container {
    display: flex;
    flex-direction: column;
}