.home, html {
    background-color: black;
    color: white;
    height: 100vh;
}

/* Header Styling */
.welcome-header {
    text-align: center;
}

/* Link Styling */
.link-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border: black, solid, 3px;
    justify-content: center;
    align-items: center;
}

.signin-btn {
    border-radius: 5px;
    height: 50px;
    width: 75px;
    border: 2px solid white;
    background-color: #1ed760;
    margin: 4px;
    font-size: 2.5vh;
    font-weight: bold;
    color: black
}


a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: #191414;
}
.user-header {
    font-size: 18px;
    margin-bottom: 2vh;
}

.user-login-page {
    text-align: center;
}

.user-login-btn {
    border-radius: 5px;
    height: 18px;
    width: 65px;
    border: 2px solid #1db954;
    background-color: white;
    margin: 1.5px;
    font-size: 10px;
}

.link-list {
    padding: 10vh;
    font-size: 40px;
    color: #191414;
    background-color: #1ed760;
    margin: 4vh;
    margin-top: 20vh;
    border-radius: 10px;
    border: 5px solid #1db954
}

.right {
    /* display: flex;
    flex-direction: row; */
    right: 20px; 
    top: 20px;
    /* margin: 20px; */
    margin-right: 20px;
    gap: 20px;
    position: fixed;
}