.popup-input {
    width: 50%;
    height: 20%;
    background-color: white;
    color:black;
}

.user-form {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
}

.header {
    color: white;
    font-size: 30px;
}

/* .btn {
text-align: center;
position: absolute;
top: 30%;
left: 42%;
zoom: 1.5;
} */

.enter-submit-btn {
border-radius: 10px;
/* background-color: white; */
outline: none;
border: 2px solid white;
padding: 15px;
background-color: #1ed760;
border-radius: 5px;
}

button:hover {
background-color: white;
}

/* .modal { */
/* position: fixed;
z-index: 1;  */
/* width: 50vh;
height: 50vh;
position: relative;
background-color: rgba(0, 0, 0, 0.25);
justify-content: center;
} */

.modal_content {
background-color: black;
color:white;
position: fixed;
top: 18%;
left: 18%;
width: 40%;
padding: 20px;
margin-left: auto;
border-radius: 5px;
border: 2px solid #1db954;
height: 50vh;
width: 60%;
justify-content: center;
}

.close {
color: white;
size: 100px;
float: right;
}

.close:hover {
color: #1db954;
cursor: pointer;
}