.lyric {
    margin-top: 1vh;
    justify-content: center;
    text-align: center;
    padding: 2vh;
    padding-top: 0;
}

.size {
    height: 250px;
    width: 295px;
    /* background-color: white; */
    border: 2px, solid, white;
}